p {
  color: red;
}

/* .itemFlex{
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */
.card-img,
.card-img-top {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.inputContainer {
  margin: .5rem;
}

label {
  padding: 10px;
}

.btn-primary {
  margin: .5rem;
}
a{
  text-decoration: none !important;
}
.image:hover{
  transition: .2s;
  transform: scale(1.1);
}